<h1>Classified Listings</h1>

<%= link_to 'New Classified Post', new_post_path %>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p>Author: <%= post.author %></p>
  <p>Category: <%= post.category %></p>
  <%= link_to 'Details', post_path(post) %>
<% end %>
